/* FONTS */

@import url(https://fonts.bunny.net/css?family=akshar:300,400,500,600,700);

@font-face {
  font-family: "Nunito-Sans-300";
  src: url("/assets/fonts/Nunito-Sans-300.eot") format("eot"),
       url("/assets/fonts/Nunito-Sans-300.svg") format("svg"),
       url("/assets/fonts/Nunito-Sans-300.ttf") format("ttf"),
       url("/assets/fonts/Nunito-Sans-300.woff") format("woff"),
       url("/assets/fonts/Nunito-Sans-300.woff2") format("woff2");
 }
 @font-face {
  font-family: "Nunito-Sans-700";
  src: url("/assets/fonts/Nunito-Sans-700.eot") format("eot"),
       url("/assets/fonts/Nunito-Sans-700.svg") format("svg"),
       url("/assets/fonts/Nunito-Sans-700.ttf") format("ttf"),
       url("/assets/fonts/Nunito-Sans-700.woff") format("woff"),
       url("/assets/fonts/Nunito-Sans-700.woff2") format("woff2");
 }
 @font-face {
  font-family: "Nunito-Sans-900";
  src: url("/assets/fonts/Nunito-Sans-900.eot") format("eot"),
       url("/assets/fonts/Nunito-Sans-900.svg") format("svg"),
       url("/assets/fonts/Nunito-Sans-900.ttf") format("ttf"),
       url("/assets/fonts/Nunito-Sans-900.woff") format("woff"),
       url("/assets/fonts/Nunito-Sans-900.woff2") format("woff2");
 }
 @font-face {
  font-family: "Nunito-Sans-Regular";
  src: url("/assets/fonts/Nunito-Sans-Regular.eot") format("eot"),
       url("/assets/fonts/Nunito-Sans-Regular.svg") format("svg"),
       url("/assets/fonts/Nunito-Sans-Regular.ttf") format("ttf"),
       url("/assets/fonts/Nunito-Sans-Regular.woff") format("woff"),
       url("/assets/fonts/Nunito-Sans-Regular.woff2") format("woff2");
 }

/* petit reset minimal de base */
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
  list-style: none;
}

html {
  /* On normalise la taille d'écriture sur l'élément html (root) à 10px. Donc 1rem = 10px */
  font-size: 62.5%;

  -webkit-text-size-adjust: none; /*─ Debug font size on iphone when landscape orientation ─*/
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: transparent;
  -ms-text-size-adjust: 100%;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
  cursor: default;
  scroll-behavior: smooth;
  tab-size: 4;
}

html:focus-within {
  scroll-behavior: smooth;
}

body {
  /* On remet la taille de la police d'écriture à 16px, vu que 1rem = 10px, 1.6rem = 16px. Donc par rapport au body 1em = 16px */
  font-size: 1.6rem;
  overflow-x: hidden;
  text-rendering: optimizeSpeed;
  position: relative;
  width: 100%;
  -webkit-overflow-scrolling: touch;
  color: #131418;
  background-color: #efefef;
  font-family: "Nunito-Sans-Regular", sans-serif;
}

img,
video,
picture {
  display: block;
  max-width: 100%;
}

img,
video {
  width: 100%;
  height: auto;
}

svg {
  display: inline-block;
  max-width: 100%;
  width: 1.5em;
  height: 1.5em;
/*  Propriétés de base
  width: 100%;
  height: auto; 
*/
}

/* Preventing Text Overflow */
h1, h2, h3, h4, h5, p {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

h1 {
  font-family: "Akshar", sans-serif;
  font-weight: 500;
  color: #20515b;
  font-size: 2rem;
}
h3 {
  font-family: "Akshar", sans-serif;
  font-weight: 500;
  color: #20515b;
  margin-bottom: 1.5rem;
  font-size: 1.5rem;
}
h4 {
  font-family: "Akshar", sans-serif;
  font-weight: 500;
}
p {
  margin-bottom: 2em;
}

a {
  text-decoration: none;
  color: red;
}
a:hover {
  font-weight: bold;
}

header {
  width: 70%;
  margin: 0 15%;
  height: 30em;
  background: url(../assets/images/home-page-header.png) no-repeat bottom center;
}

section{
  width: 70%;
  margin: 6em 15%;
  height: auto;
}

footer {
  background: #151c2c;
  width: 100%;
  color: #ebe9ec;
}

/* NAV */

nav .nav-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #151a2d;
  color: #ebe9ec;
  font-family: "Nunito-Sans-700", sans-serif;
  font-size: 1.2rem;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
}
nav .nav-top ul {
  display: flex;
  flex-direction: row;
  padding: 0.3em;
  margin: 0.3em;
  font-size: 1.3rem;
}
nav .nav-top p {
    margin-bottom: 0em;
}
nav .nav-top a {
  color: #e7e7e7;
}

nav .nav-top svg {
  margin-right: 0.4em;
  margin-left: 0.4em;
}


nav .nav-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #dedede;
  font-size: 1.2rem;
  margin-top: 3.3em;
}
nav .nav-bottom p {
  padding: 0.8em;
  font-family: "Nunito-Sans-900", sans-serif;
  margin-bottom: 0;
}
nav .nav-bottom ul {
  display: flex;
  flex-direction: row;
  padding: 0.8em;
  margin: 0.1em;
}
nav .nav-bottom ul li {
  margin-left: 1em;
}
nav a {
  color: #131418;
}
nav a:hover {
  color: red;
}

.svg-white {
  fill: #efefef;
}

/* HEADER */

.container-header {
  background-color: #dedede;
}

#header-flex-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 5em;
  font-size: 1.2rem;
} 
#header-flex-top .element:nth-of-type(1) {
  flex-basis: 30%;
  font-size: 1.5rem;
}
#header-flex-top .element:nth-of-type(2) {
  flex-basis: 30%;
}

#header-flex-center {
  padding-top: 3em;
  font-family: "Nunito-Sans-700", sans-serif;
} 

#header-flex-bottom {
  display: flex;
  justify-content: space-between;
  font-family: "Akshar", sans-serif;
  font-weight: 500;
  font-size: 1.5rem;
  padding-bottom: 5em;
}
#header-flex-bottom svg {
  width: 25%;
  height: 25%;
  margin-bottom: 0.5em;
}
#header-flex-bottom .element:nth-of-type(1) {
  display: flex;
  align-items: flex-end;
  flex-basis: 30%;
}
#header-flex-bottom .element:nth-of-type(2) {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  flex-basis: 30%;
}

/* SECTIONS */

/* SECTION 1 - OFFRE */

#offre {
  display: flex;
  flex-direction: row;
}

.offre-flex-left {
  display: flex;
  flex-direction: column;
  flex-basis: 40%;
  font-family: "Akshar", sans-serif;
  font-weight: 500;
  margin-right: 0.5em;
}
.offre-flex-left .element {
  background-color: #151a2d;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 0.5rem 1rem;
}
.offre-flex-left .element svg {
  margin-right: 0.5rem;
}
.offre-flex-left .element:nth-of-type(1) {
  color: #e9153c;
}
.offre-flex-left .element:nth-of-type(2) {
  color: #f38009;
}
.offre-flex-left .element:nth-of-type(3) {
  color: #0c90fd;
}


.offre-flex-right {
  display: flex;
  flex-direction: column;
  flex-basis: 60%;
}
.offre-flex-right p {
  font-size: 1.2rem;
}
.offre-flex-right h1, .offre-flex-right p {
  margin-bottom: 1em;
}

/* SECTION 2 - BIO */
#offre {
  display: flex;
  flex-direction: row;
}

#bio-flex {
  display: flex;
  width: 100%;
}
.bio-flex-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-basis: 60%;
  margin-right: 2em;
}
.bio-flex-left p {
  font-size: 1.2rem;
}

.bio-flex-right {
  display: flex;
  width: 40%;
  justify-content: center;
  align-content: center;
  flex-basis: 40%;
}

/* SECTION 3 - COMPETENCES */
.competences-head {
  text-align: center;
  display: flex;
  flex-direction: column;
}
.competences-head h1 {
  display: flex;
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.competences-head h1::before, h1::after {
    content: "";
    border-bottom: 2px solid #151a2d;
    margin: auto;
    width: 9em;
}
.competences-head h2 {
  font-size: 1.4rem;
  font-family: "Nunito-Sans-300", sans-serif;
  font-weight: 300;
}

#competences {
  display: flex;
  margin-top: 3.2rem;
}

.competences-left {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 50%;
  margin: 0 auto;  
}
.competences-left svg {
  width: 1.5rem;
  margin-bottom: auto;
  margin-top: 0.4rem;
  margin-right: 1.0rem;
}
.competences-left h4 {
  text-align: left; 
  color: red;
  margin-bottom: auto;
  margin-top: 0;  
}
.competences-left p {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-style: italic;
}
#liste-competences li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0.3rem;  
}

.competences-right {
  display: flex;
  flex-direction: column;
  text-align: left;
  width: 50%;
}
.html, .css, .js, .sass, .react, .pgsql, .vite, .git, .vscode, .phpstorm {
  width: 5rem;
}
.tailwind, .typescript, .node, .php, .mysql, .mongodb {
  width: 7rem;
}
.logographique {
  width: 3rem;
}

.competences-right ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin: 1rem 0 3rem 0;
}

/* SECTION 4 - FORMATION CONTINUE */

.formation-head {
  text-align: center;
}
.formation-head h1 {
  display: flex;
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.formation-head h1::before, h1::after {
    content: "";
    border-bottom: 2px solid #151a2d;
    margin: auto;
    width: 9em;
}
.formation-head h2 {
  font-size: 1.4rem;
  font-family: "Nunito-Sans-300", sans-serif;
  font-weight: 300;
  margin-bottom: 3rem;
}
.formation-head p {
  text-align: left;
  font-size: 1.2rem;
}

#formation {
  display: flex;
  justify-content: space-between;
  margin-top: 3.2rem;
  gap: 1.5rem;
}
#formation img {
  width: 4rem;
  margin-top: -3rem;
}
#formation p {
  margin: 2rem 0 0 0;
}

.believemy {
  color: red;
  padding-bottom: 1rem;
  border-bottom: 1px solid black;
  font-size: 1rem;
}

.line {
  display: flex;
  justify-content: center;
  width: 100%;
}

.formation-left, .formation-left p, .formation-center, .formation-center p, .formation-right, .formation-right p {
  flex-basis: 33%;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.formation-left span, .formation-center span, .formation-right span {
  background-color: #e7e7e7;
  width: 100%;
  height: 9em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 0.1rem solid rgb(194, 191, 191);
}
.bouton-certificat {
  background-color:#151c2c;
  color: #2e96f4;
  padding: 0.8rem 1.5rem;
  border-radius: 2rem;
  font-size: 1rem;
}
.formation-left, .formation-center, .formation-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border: 0.1rem solid rgb(194, 191, 191);
  border-radius: 0.3rem;
}

.graduate {
  display: flex;
  justify-content: center;
}

.CV {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: row;
  color: red;
  font-weight: bold;
  font-size: 1.4rem;
}
.CV img {
  width: 2rem;
  margin-right: 0.5rem;
}
.CV a:hover {
  color: #131418;
}

/* SECTION 5 - MES REALISATIONS */

.realisations-head {
  text-align: center;
}
.realisations-head h1 {
  display: flex;
  font-size: 2rem;
  margin-bottom: 0.5em;
}
.realisations-head h1::before, h1::after {
    content: "";
    border-bottom: 2px solid #151a2d;
    margin: auto;
    width: 9em;
}
.realisations-head h2 {
  font-size: 1.4rem;
  font-family: "Nunito-Sans-300", sans-serif;
  font-weight: 300;
  margin-bottom: 3rem;
}

.realisations {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-top: 3.2rem;
  gap: 2rem;
}

.realisations-img {
  flex-basis: 60%;
  text-align: center;
  justify-content: center;
  align-items: center;
  margin: 1rem;
  box-shadow: 6px 6px 10px 2px rgba(0,0,0,0.33);
  -webkit-box-shadow: 6px 6px 10px 2px rgba(0,0,0,0.33);
  -moz-box-shadow: 6px 6px 10px 2px rgba(0,0,0,0.33);
}
.realisations-img figcaption{
    text-align: left;
    display: flex;
    align-items: center;
    padding: 0.3em;
    background-color: #151a2d;
    opacity: 0.8;
    color: #e7e7e7;
    position: absolute;
    width: 40%;
    font-size: 1rem;
    height: 3em;
  }

.realisations-texte {
  flex-basis: 40%;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.realisations-texte h3 {
  color: #F5639D;
  font-size: 1.5rem;
  margin-bottom: 1.8em;
}
.realisations-texte p {
  font-size: 1.2rem;
}

.bouton-visiter {
  background-color:#151c2c;
  color: #2e96f4;
  padding: 0.8rem 1.5rem;
  font-size: 1.2rem;
}

/* FOOTER */

.footer {
  width: 70%;
  margin: 0 15%;
  padding: 2em 1em;
  height: auto;
  text-align: center;
}

.footer h4 {
  margin-bottom: 2em;
}
.footer p:nth-of-type(1) {
  font-size: 1.2rem;
  font-style: italic;
  font-family: "Akshar", sans-serif;
  font-weight: 300;
  margin-bottom: 1.5em;
}
.footer p:nth-of-type(2) {
  font-size: 1.2rem;
  margin-bottom: 1.5em;
}

.footer ul {
  display: flex;
  justify-content: center;
  gap: 0.5em;
  font-size: 1.2rem;
  margin-top: 1em;
  margin-bottom: 1.5em;
}
.footer-menu a {
color: #0c90fd;
}

.footer ul svg {
  margin-right: 0.4em;
  margin-left: 0.4em;
}